---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Blog">
  <main>
    <h1 class="text-slate-50 text-3xl mt-20 mx-20">Blog</h1>
    <h3 class="text-slate-50 text-xl mt-5 mx-20">Here I write about tech and the projects I am working on.</h3>
  </main>
</Layout>
