<!-- Header -->
<header class="w-max max-w-max top-0 left-0 right-0 relative pt-2">
  <nav class="h-12 w-screen flex justify-center text-2xl">
    <h1 class="text-slate-50 mx-6 pt-2"><a href="/"><b>Home</b></a></h1>
    <h1 class="text-slate-50 mx-6 pt-2"><a href="/blog"><b>Blog</b></a></h1>
  </nav>
</header>
